.section-form {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 55%;
  margin-left: 17%;
  margin-top: 3%;
  height: 400px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px;
}
.section {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 55%;
  margin-left: 17%;
  margin-top: 3%;
  height: 120px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px;
}
.section button {
  width: 12rem;
  height: 4rem;
  margin-top: 2rem;
  border: none;
  box-shadow: 0px 0px 20px 0px;
  border-radius: 20px;
  background-color: #042743;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.section1 {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 55%;
  margin-left: 17%;
  margin-top: 2%;
  text-align: center;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px;
}

.section1 button {
  width: 12rem;
  height: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  box-shadow: 0px 0px 20px 0px;
  border-radius: 20px;
  background-color: #042743;
  font-size: 22px;
  font-weight: bold;
  color: white;
}
